<form [formGroup]="adminForm" (ngSubmit)="onSubmit()" class="auth-form">
  <h2>Добавление нового оператора</h2>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" placeholder="Ввод имени оператора">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" placeholder="Ввод почты оператора">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" placeholder="Ввод временного пароля оператора">
  </div>
  <div class="form-group">
    <label for="role">Role:</label>
    <select id="role" formControlName="role">
      <option value="" disabled selected hidden>Роль оператора</option>
      <option value="admin">Администратор</option>
      <option value="operator">Оператор</option>
    </select>
  </div>
  <div class="form-group">
    <label for="status">Status:</label>
    <select id="status" formControlName="status">
      <option value="" disabled selected hidden>Статус оператора</option>
      <option value="active">Активный</option>
      <option value="inactive">Неактивный</option>
    </select>
  </div>
  <div>
    <button type="submit">Добавить</button>
    <button type="button" (click)="onCancel()">Отмена</button>
  </div>
</form>