<div class="wrapper">
  <h1 style="font-weight: bold">Обеспечение ОАО Доломит</h1>

  <div class="button-login-wrapper">
    <a routerLink="login" class="button-login">Войти</a>
  </div>

    <table class="table-data">
      <thead>
        <tr>
          <th rowspan="2" class="rotate" style="font-weight: bold">Дата</th>
          <th colspan="4" style="font-weight: bold">Цс Цмв</th>
          <th colspan="4" style="font-weight: bold">ХП</th>
          <th colspan="4" style="font-weight: bold">ПВ(инв.)</th>
        </tr>
        <tr>
          <th>Заявлено</th>
          <th>Принято</th>
          <th>Погружено</th>
          <th>+/-<br />Принято</th>
          <th>Заявлено</th>
          <th>Принято</th>
          <th>Погружено</th>
          <th>+/-<br />Принято</th>
          <th>Заявлено</th>
          <th>Принято</th>
          <th>Погружено</th>
          <th>+/-<br />Принято</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let group of groupedData">
          <tr>
            <td>{{ group[0].dateCreated }}</td>
            <ng-container *ngFor="let item of group">
              <td>{{ item.zayavleno }}</td>
              <td>{{ item.prinyato }}</td>
              <td>{{ item.pogruzheno }}</td>
              <td>{{ item.plusMinusPrinyato }}</td>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
