.wrapper {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.table-data {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.table-data th {
  font-weight: normal;
  background-color: #f2f2f2;
  text-align: center;
  padding: 8px;
  border: 2px solid;
  font-size: 20px;
  transition: background-color 0.3s;
}

.table-data td {
  text-align: center;
  padding: 8px;
  border: 2px solid #000000;
  transition: background-color 0.3s;
}

//   .table-data td:nth-child(1){
//     border-left: 2px solid #000000;
//   }

//   .table-data td:nth-child(1),
//   .table-data td:nth-child(4n+1) {
//     border-right: 2px solid #000000;
//   }

.rotate {
  transform: rotate(-180deg);
  writing-mode: vertical-lr;
  text-orientation: sideways;
}

/* Hover effects */
.table-data th:hover {
  background-color: #ddd;
}

.table-data tbody tr:hover {
  background-color: orange;
}

// button login
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #337ab7;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 22px;
  //337ab7
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}